.app
  background #0e0e0e
  height 100vh

.main-title
  position absolute
  z-index 2
  width auto
  height auto
  top 30%
  left 6vw
  color $white
  font-family 'Brandon Lte'
  .line
    letter-spacing 1.6px
    line-height 1.1
    float left
    clear left
    .char
      float left
      white-space pre
      &:nth-child(odd)
        transition transform 1800ms cubic-bezier(0.19, 1, 0.22, 1) 0ms
        transform translate3d(0px, 98px, 0px)
    @media screen and (max-width: 768px)
      font-size 6.38vw
    @media screen and (min-width: 769px) and (max-width: 1280px)
      font-size 4.38vw
    @media screen and (min-width: 1281px)
      font-size 3.90vw
    &.bold
      font-family 'Brandon Bld'
    .char
      opacity 1
      text-transform uppercase
  .subline
    letter-spacing 1px
    // max-width 150px
    float left
    clear left
    // width 400px
    .word
      float left
      text-transform uppercase
      font-family 'Brandon Med'
      @media screen and (max-width: 768px)
        font-size 11px
      @media screen and (min-width: 769px) and (max-width: 1280px)
        font-size 15px
      @media screen and (min-width: 1281px)
        font-size 17px

.landscape-message
  display none

@media all and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape)
  .landscape-message
    position fixed
    top 0px
    right 0px
    bottom 0px
    left 0px
    z-index 999
    color $green3
    background $grey2
    display flex !important
    flex-direction column
    justify-content center
    align-items center
    span
      position relative
      top 6px
