// Brandon Grotesque
@font-face
  font-family 'Brandon Lte'
  src url('../fonts/brandon/brandon-light.otf')

@font-face
  font-family 'Brandon Reg'
  src url('../fonts/brandon/brandon-regular.otf')

@font-face
  font-family 'Brandon Med'
  src url('../fonts/brandon/brandon-medium.otf')

@font-face
  font-family 'Brandon Bld'
  src url('../fonts/brandon/brandon-bold.otf')

// Brandon Grotesque Italic
@font-face
  font-family 'Brandon Lte It'
  src url('../fonts/brandon/brandon-light-italic.otf')

@font-face
  font-family 'Brandon Reg It'
  src url('../fonts/brandon/brandon-regular-italic.otf')

@font-face
  font-family 'Brandon Med It'
  src url('../fonts/brandon/brandon-medium-italic.otf')

@font-face
  font-family 'Brandon Bld It'
  src url('../fonts/brandon/brandon-bold-italic.otf')
